 @import 'colors'; 
body {
  margin: 0;
  color:$darktext;
  font-size: 18px;

}
// mixins 
@mixin grid($gtc:repeat(2, 1fr),$gap:30px){
  grid-template-columns:$gtc;
  display: grid;
  gap: $gap;
}
@mixin box() {
  border: 1px solid $light;
  padding: 2px 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
@mixin flex($wrap:nowrap,$justify: space-between, $direction:'row'){
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify;
  flex-direction: $direction;
}
@mixin span($br:0, $pd:0){
  border-radius: $br;
  padding :$pd;
}
@mixin shadow(){
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
}
/*style for specific elements */
.text-light {  color: $light;}
.text-dark{color: $dark;}
.margin-32{margin: 32px;}
.padding-32{  padding: 32px;}
.margin-right-32{margin-right: 8px;}
.title-dark{color: $dark;font-size: 24px; font-weight:750;}
.w-150{width:150px;}
.subtitle{color:$dark; font-size:18px; font-weight:700;}

.app {
  @include grid($gtc: 200px 1fr,$gap:0);
  height: 100%;
}
.sidebar{
  border-right: 2px solid $light;
  color: $darktext;
 
}

/*  span country*/

.neighbor{
  @include box; 
  margin-left:8px ;
}


.toggle{margin-left:20px;}
.flex{
  @include flex;
 div{
     margin-left: 20px;
  span{
    margin: 0 20px;
  }
 }
}
.flex-wrap{
    @include flex($wrap:wrap);
}
.around{
  @include flex($justify: space-around);
  text-align: center;
}
.vertical {
  @include flex($direction:row);
}

.circle{
  @include span($br: 50%, $pd:4px);
  background:$light;

}

/* specific country styles*/
.flex-col{
@include flex($direction:column, $justify:space-evenly)
}

.grid-2{
  @include grid;
}
.container{
@include flex($wrap: nowrap,$justify: flex-start);
}
.mobile-topnav{
  @include flex;
  @include box;
  background: $white;
}
/** Responsiveness */
@media only screen and (max-width: 375px) and (max-width: 768px) {
	.grid-2{
    @include grid($gtc: 1fr);
  }

  .grid-2, .flex-col{width: 100%;}
  .sidebar,.desktop {display: none;}
  .flex.mobile{ @include box;}
  
  .margin-32{margin:0;}
  .mobile-flex{
    display: inline-flex;
    
      background: black;
     min-width: 300px;
     width: auto;
    }
}